<!DOCTYPE html>
<html ng-app="sortApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PRUEBA EL COMERCIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body ng-controller="SortListController">
    <div id="wrapper">
        <div class="box">
            <div class="center">
                <h1>Ordenador de Serie</h1>
                <!-- <span>*Agregar los números separados por una coma</span> -->
                <form name="sortForm">
                    <input  type="text" ng-pattern="/^[0-9,]*$/" ng-model="number" placeholder="*Agregar los números separados por una coma">
                    <button class="btn" type="submit" ng-disabled="sortForm.$invalid" ng-click="addToArray(number)">Agregar</button>
                    <button class="btn" ng-click="sortArray()">Ordenar</button>
                    <button class="btn" ng-click="clearArray(sortForm)">Limpiar</button>
                </form>
                <div id="message-container">
                    <p ng-show="sortForm.$invalid" id="alert-message">Existe por lo menos un caracter inválido!</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="listContainer">
                <p class="list">lista: {{array}}</p>
            </div>
            <div class="listContainer">
                <p class="list">lista ordenada: {{orderedList}}</p>
            </div>
        </div>
    </div>
    <!-- Agregamos el cdn de angular, usamos angular para una mejor experiencia de usuario evitando recargar las vistas aprovechando la
    propiedad two-way-databinding -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="main.js"></script>
</body>
</html>