body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
input{
    height: 30px;
    width: 320px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 8px;
    outline: none;
}
input::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
}

input:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
}

input:-moz-placeholder {
  font-family: 'Josefin Sans', sans-serif;
}
button{
    height: 34px;
    width: 94px;
    border-radius: 4px;
    font-size: 20px;
    background: #ffc929;
    border: none;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
}
p{
    word-wrap: break-word;
    font-size: 24px;
}
#wrapper{
    height: 100vh;
    display: -webkit-box;
}
.listContainer{
    height: 50vh;
    overflow-y: auto
}
#message-container{
    height: 36px;
    padding: 8px;
}
#alert-message{
    color: #F44336;
    font-size: 12px;
    margin: 0;
}
.box{
    width: 50%;
    position: relative;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}